nav{
  background-color: #500000;
}

nav a{
  color: #ffffff !important;
}


body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.63),rgba(70, 0, 0, 0.74)) , url('https://images.unsplash.com/photo-1652044049927-7142ea82c81d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-repeat: no-repeat;
  background-size: 100vw 5000px;
}

h1{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#news{
  margin-top: 100px !important;
}


